<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="view">
        <div class="main-container">
            <h2>Libaray Catalogue</h2>
            <% if (books.length == 0) { %>
                <div class="grid grid-container1x">
                    <div class="grid grid-container1x">
                        <p class="content">No Avaliable</p>
                    </div>
                </div> 
            <% } else { %>
                <% books.forEach(book => { %>      
                    <div class="grid grid-container1x">
                        <div class="grid-item grid-item1x">
                            <img src="<%= book.img %>" alt="">                   
                            <div class="book-container">
                                <h3> <%= book.title %></h3>
                                <div class="book-details">
                                    <div>
                                        <p>ISBN: <%= book.isbn %></p>
                                        <p>Call No: <%= book.callNo %></p>
                                        <p><%= book.description %> </p>
                                    </div>
                                    <div class="book-btns">
                                        <div>
                                            <button>Reserve</button>
                                        </div>
                                        <div>
                                            <button>Edit</button>
                                            <button class="delete" data-doc="<%= book._id%>">Delete</button>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                            <svg class="expand-icon" viewBox="0 0 1024 1024">
                                <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                            </svg>
                        </div>
                    </div>
                <% }) %>    
            <% } %>
                <span class="underscore-link"><a href="/">Return</a></span>
            </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>