<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); %>
<body>
    <%- include('partials/nav'); %>
    <main class="view">
        <div class="main-container">
            <h2>New Additions</h2>
            <% if (books.length == 0) { %>
                <div class="grid grid-container1x">
                    <div class="grid grid-container1x">
                        <p class="content">No New Addition</p>
                    </div>
                </div> 
            <% } else { %>
                <% books.forEach(book => { %>      
                    <div class="grid grid-container1x">
                        <div class="grid-item grid-item1x">
                            <img src="../img/Book Covers/A Guide to the Formulation of Plans and Goals in Occupational Therapy.jpg" alt="">                   
                            <div class="book-container">
                                <h3> <%= book.title %></h3>
                                <div class="book-details">
                                    <div>
                                        <p>Call No: <%= book.callNo %></p>
                                        <p><%= book.description %> </p>
                                    </div>
                                    <div>
                                        <button><a href="#" target="_blank">View</a></button>
                                        <button>Reserve</button>
                                    </div>
                                </div>                        
                            </div>
                            <svg class="expand-icon" viewBox="0 0 1024 1024">
                                <path d="M917.333333 364.8L851.2 298.666667 512 637.866667 172.8 298.666667 106.666667 364.8 512 768z"/>
                            </svg>
                        </div>
                    </div>
                <% }) %>    
            <% } %>
                <span class="underscore-link"><a href="/">Return</a></span>
            </div>
    </main>
    <%- include('partials/footer'); %>
</body>
</html>